.intro {
    display: flex;
    margin: 4rem 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .left {
      flex: 0.5;
      display: flex;
      justify-content: center;
      align-items: center;
      .my-image {
        height: 20rem;
        width: 20rem;
        overflow: hidden;
        border-radius: 50%;
        @media screen and (max-width:762px){
          height: 12rem;
          width: 12rem;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .right {
      flex: 0.5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1rem;
      position: relative;
      width: 100%;
      .wrapper {
        height: 18rem;
        padding: 1rem;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          font-size: 60px;
          margin: 10px 0;
          @media screen and (max-width:762px){
            font-size: 40px;
          }
        }
        h2 {
          font-size: 35px;
          @media screen and (max-width:762px){
            font-size: 20px;
          }
        }
        h3 {
          font-size: 30px;
          @media screen and (max-width:762px){
            font-size: 16px;
          }
        }
        span {
          font-size: inherit;
          color: var(--secondary-color);
        }
  
        .ityped-cursor {
          animation: blink 1s infinite;
        }
  
        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%);
      @media screen and (max-width:450px) {
        display: none;
      }
      .arrow-down {
        font-size: 60px;
        color: black;
        font-weight: 100;
        animation: blinkIcon 2s infinite;
      }
      @keyframes blinkIcon {
        100% {
          opacity: 0;
        }
      }
    }
  }