.app__skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app__skills-list {
  margin-top: 2rem;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .app__skills-item {
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    transition: all 0.3s ease-in-out;

    div {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: #fef4f5;

      img {
        width: 50%;
        height: 50%;
      }

      &:hover {
        box-shadow: 0 0 25px #fef4f5;
      }
    }

    p {
      font-weight: 500;
      margin-top: 0.5rem;
    }
  }
}
